{foreach $flashes as $flash}
	{var string $type = $flash->type === 'error' ? 'danger' : $flash->type}

	<div n:foreach="$flashes as $flash" class="callout callout-{$type}">
		<p>{$flash->message}</p>
	</div>
{/foreach}
