<div class="row">
	<div n:ifset="first" class="col-12 col-sm-6 col-md-3">{block first}{/block}</div>
	<div n:ifset="second" class="col-12 col-sm-6 col-md-3">{block second}{/block}</div>

	<div class="clearfix hidden-md-up"></div>

	<div n:ifset="third" class="col-12 col-sm-6 col-md-3">{block third}{/block}</div>
	<div n:ifset="fourth" class="col-12 col-sm-6 col-md-3">{block fourth}{/block}</div>
</div>
