<table class="table table-bordered">
	<thead>
		<tr>
			<th n:foreach="$headers as $header">{$header}</th>
		</tr>
	</thead>
	<tbody>
		{foreach $values as $value}
			<tr>
				<td n:foreach="$value as $val">{$val}</td>
			</tr>
		{else}
			<tr>
				<td style="text-align:center" colspan="{count($headers)}">No results</td>
			</tr>
		{/foreach}
	</tbody>
</table>
